@media screen and (max-width:480px) {

/*tarjetas de obras*/

.titulo_obras{   
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.descripcion_obras {
    font-size: small;
}

.etiquetas__obras {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.card__obras {
    background-color: #e7e3e2;
    width: 350px;
    height: 420px;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 10px;
    border: 5px solid black;
    transition: all 2s;
}


.card__imagen__obra {
    width:70%;
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 5%;
} 
.btn {  
    color: rgba(255, 255, 255, 0.9);
    font-size: 15px;
    font-weight: 500;
    padding: 2px 8px;
    background: black;
    border: 2px solid;
    border-color: black;
    border-radius: 10px;
    position: relative;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    
    }
    
.btn:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease; 
    }

/*tarjetas de presentacionm*/
.nros {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height:auto;
    padding: 7px;
}

.card2 {
    background-color: #e7e3e2;
    width: 200px;
    height: 200px;
    margin-right: 10%;
    margin-bottom: 10px;
    border: 7px groove black;
    padding: 10px;
}

.card__imagen {
    width:30%;
    margin-left: 25%;
    padding: 15px;
}     

.descripcion2 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

.titulo2 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

}


@media screen and (min-width:481px) {

/*tarjetas de obras*/

.titulo_obras{   
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.descripcion_obras {
    font-size: small;
}

.etiquetas__obras {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-left: 250px;
    margin-bottom: 20px;
}

.card__obras {
    background-color: #e7e3e2;
    width: 350px;
    height: 420px;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 10px;
    border: 5px solid black;
    transition: all 2s;
}


.card__obras:hover { 
    width:  450px;
    height: 520px;
    
}

.card__imagen__obra {
    width:70%;
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 5%;
} 
.btn {  
    color: rgba(255, 255, 255, 0.9);
    font-size: 15px;
    font-weight: 500;
    padding: 2px 8px;
    background: black;
    border: 2px solid;
    border-color: black;
    border-radius: 10px;
    position: relative;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    
    }
    
.btn:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease; 
    }

/*tarjetas de presentacionm*/
.nros  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 7%;
    margin-top: 70px;
    margin-bottom: 70px;

}

.card2 {
    background-color: #e7e3e2;
    width: 200px;
    height: 200px;
    margin-right: 10%;
    border: 7px groove black;
    padding: 10px;
}

.card__imagen {
    width:30%;
    margin-left: 25%;
    padding: 15px;
}     

.descripcion2 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

.titulo2 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}
}